ul.posts {
	list-style: none;
}

li.post {
	margin-bottom: 1em;
	width: 100%;
	border: 1px solid #ddd;
	-webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.post-content {
	padding-left: 10px;
	padding-right: 10px;
}

li.post:hover {
	box-shadow: 2px 2px 8px #ddd;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.post-big-image {
	height: 350px;
	background-position-x: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.post-image {
	width: 100%;
	height: 200px;
	background-position-x: center;
	background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 48rem) {
  li.post > a {
    text-decoration: none;

  }
	li.post > a > .post-content > h1 {
		font-size: 1.4rem;
	}
	li.post {
		width: calc(25% - 20px);
		float: left;
		border: 1px solid #ddd;
		margin: 10px;
	}

	li.post:nth-child(1),
	li.post:nth-child(2) {
		width: calc(50% - 20px);
	}

	.post-image {
	    -webkit-filter: grayscale(100%);
	    -webkit-transition: .3s ease-in-out;
	    -moz-filter: grayscale(100%);
	    -moz-transition: .3s ease-in-out;
	    -o-filter: grayscale(100%);
	    -o-transition: .3s ease-in-out;

		width: 100%;
	}

  li.post >a:hover .post-image {
    -webkit-filter: grayscale(0%);
    -webkit-transition: .3s ease-in-out;
    -moz-filter: grayscale(0%);
    -moz-transition: .3s ease-in-out;
    -o-filter: grayscale(0%);
    -o-transition: .3s ease-in-out;
    filter: grayscale(0%);
  }
}
